<!DOCTYPE html>
<html>

<head>
  <title>Shakthi App</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    .home-menu .nav-link {
      color: #fff;
      font-style: italic;
      font-family: fantasy;
    }

    .home-menu .nav-link .btn {
      height: 100px;
      width: 250px;
      font-size: 20px;
    }

    .title {
      text-decoration: underline;
    }
  </style>
</head>

<body>
  <div>
    <div id="navbarContainerId">
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Shakthi App</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/">Home</a></li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Invoice Data<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="nelloreCowDungInvoiceData">Nellore Cow Dung Invoice Data</a>
                  </li>
                  <li><a href="nelloreCowDungASNData">Nellore Cow Dung ASN Data</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

    <!--BODY START HERE-->

    <div class="container-fluid">
      <h2 class="title">Warangal</h2>
      <div class="home-menu row">
        <!-- <div class="col-sm-3">
          <a class="nav-link" href="/vehicle-form">
            <button type="button" class="btn btn-primary">Vehicle
              Form</button>
          </a>
        </div> -->
        <div class="col-sm-3">
          <a class="nav-link" href="/view-vehicle">
            <button type="button" class="btn btn-success">Vehicle
              Data
            </button>
          </a>
        </div>
        <!-- <div class="col-sm-3">
          <a class="nav-link" href="/employee-form">
            <button type="button" class="btn btn-info">Employee
              Form</button>
          </a>
        </div> -->
        <div class="col-sm-3">
          <a class="nav-link" href="/view-employee">
            <button type="button" class="btn btn-success">Employee
              Data</button>
          </a>
        </div>
      </div>
      <hr>
      <h2 class="title">Nellore</h2>
      <div class="home-menu row">
        <div class="col-sm-3">
          <a class="nav-link" href="/nelloreCowDungInvoiceData">
            <button type="button" class="btn btn-info">Cowdung Invoice Data</button>
          </a>
        </div>
         <div class="col-sm-3">
          <a class="nav-link" href="/nelloreCowDungASNData">
            <button type="button" class="btn btn-info">Cowdung ASN Data</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</body>

</html>