body {
    font-family: Arial, sans-serif;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f4;
    color: #000000;
}

#navbarContainerId {
    width: 100%;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 20px;
}

.row {
    margin: 0px;
}

.red {
    color: #FF0000;
}

.col-md-6 {
    padding: 0px;
}

.pd-top5 {
    padding-top: 5px;
}

p {
    font-size: 12px;
    margin: 4px;
    color: #000;
}

.float-left {
    float: left;
}

hr {
    margin: 2px 3px 3px 3px;
    border-top: 1px solid #000;
}

.pad-4px {
    padding-bottom: 4px;
}

.clear-both {
    clear: both;
}

.border-bottom {
    border-bottom: 1px solid #000000;
}

.border-left {
    border-left: 1px solid #000000;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.supply-delivery {
    height: 230px;
}

.supplier-details,
.delivery-details {
    height: 230px;
}

.supplier-details h5,
.delivery-details h5 {
    margin: 0px;
    font-weight: bold;
    padding-left: 4px;
    font-size: 12px;
}

.supplier-details hr,
.delivery-details hr {
    width: 100px;
}

.bill-ship {
    height: 124px;
}

.bill-to,
.ship-to {
    padding-top: 5px;
    height: 124px;
}

.bill-to h5,
.ship-to h5 {
    margin: 0px;
    font-weight: bold;
    padding-left: 4px;
    font-size: 12px;
}

.bill-to hr,
.ship-to hr {
    width: 50px;
    margin: 2px 3px 3px 4px;
    border: 0;
    border-top: 1px solid #000;
}

.transport-details {
    padding-left: 0px;
}

.transport-details h6 {
    font-weight: bold;
    margin-bottom: 0px;
    margin-left: 3px;
}

.transport-details hr {
    width: 99px;
    margin: 2px 3px 3px 4px;
    border: 0;
    border-top: 1px solid #000;
}

.bill-underline {
    font-weight: bold;
    margin: 3px 0px 0px 0px;
}

.bill-hr {
    width: 100px;
    margin: auto;
}

.Company-title {
    font-weight: bold;
    margin: 0px;
}

.title-hr {
    width: 320px;
    margin: auto;
}

.invoice-container {
    width: 210mm;
    min-width: 100%;
    max-width: 100%;
    overflow-x: auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 8mm;
    box-sizing: border-box;
    font-size: 12pt;
    margin-bottom: 30px;
}


.invoice-outline {
    border: 1px solid #000000;
}

.header {
    padding: 2px;
    text-align: center;
    margin: 0px;
    border-bottom: 1px solid #000000;
}

.header h1 {
    font-size: 18pt;
    margin: 0;
}

.header p {
    margin: 5px 0;
    font-size: 9pt;
}

.details,
.transport,
.billing {
    font-size: 9pt;
    color: #000000;
}

.details .order-details {
    border-bottom: 1px solid #000000;
}

.details table,
.billing table {
    width: 100%;
    border-collapse: collapse;
}

.details table td,
.billing table td {
    padding: 3px;
    vertical-align: top;
}

.billing table {
    border: 1px solid #000000;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.billing table th,
.billing table td {
    border: 1px solid #000000;
    border-bottom: none;
    border-left: none;
    padding: 4px;
    font-size: 9pt;
}

.billing table th {
    text-align: center;
}

.billing table td:last-child,
.billing table th:last-child {
    border-right: none;
}

.billing table tr:last-child {
    height: 150px;
}

.totals {
    margin-top: 20px;
    font-size: 10pt;
}

.totals p {
    margin: 5px 0;
}

.bank-details h6 {
    margin: 3px;
}

.bank-details,
.signature {
    margin-top: 2px;
    font-size: 10pt;
    padding: 2px;
}

.digi-sign {
    text-align: center;
}

.bank-details hr {
    width: 90px;
}

.input-section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* width: 120mm; */
    box-sizing: border-box;
}

.input-section label {
    display: block;
    margin: 10px 0 5px;
}

.input-section input {
    width: 100%;
    padding: 5px;
    font-size: 10pt;
    border: 1px solid #000000;
}

.input-section button {
    margin: 10px 5px;
    padding: 10px 20px;
    font-size: 10pt;
    cursor: pointer;
}

.ebill-alert {
    color: #FF0000;
}

@media print {
    body {
        margin: 0;
        background-color: white;
    }

    .input-section {
        display: none;
    }

    .invoice-container {
        box-shadow: none;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }
}

.navbar {
    width: 100%;
}

.pdf-container {
    height: 400mm;
}