<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>Dynamic Invoice</title>

    <!-- Include Flatpickr CSS and JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="/css/invoice-design.css">
</head>

<body>
    <div id="navbarContainerId">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Shakthi App</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#myNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" href="/">Home</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="invoiceDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Invoice Data
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="invoiceDropdown">
                                <li><a class="dropdown-item" href="nelloreCowDungInvoiceData">Nellore Cow Dung Invoice
                                        Data</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div>
        <!-- <form id="invoiceDataForm"> -->
        <div class="input-section">
            <h3>Enter Invoice Details</h3>
            <label>Bill No.:</label>
            <input type="text" id="billNo" value="WGL/SGSL/A-0328">

            <label>Bill Date:</label>
            <input type="text" id="billDate" placeholder="DD/MM/YYYY">

            <!-- <input type="text" id="billDate" value="10/01/2025"> -->
            <!-- Date input field -->

            <div class="form-group">
                <label for="modeOfTransport">Mode Of Transport:</label>
                <input list="transportOptions" id="modeOfTransport" class="form-control"
                    placeholder="Select Mode Of Transport" value="">
                <datalist id="transportOptions">
                    <option value="TRACTOR & TROLLEY">
                    <option value="TRUCK (TIPPER)">
                </datalist>
            </div>

            <!-- <label>Vehicle No:</label>
        <input type="text" id="vehicleNo" value="TN 18 AB 1350"> -->
            <div class="form-group">
                <label for="vehicleNo">Vehicle No:</label>
                <input list="vehicleOptions" id="vehicleNo" class="form-control"
                    placeholder="Select or enter vehicle number" value="">
                <datalist id="vehicleOptions">
                    <option value="TN 18 AB 1350">
                    <option value="TS 19 T 5677">
                    <option value="TN 18 BL 7767">
                    <option value="TN 18 BK 8749">
                </datalist>
            </div>

            <label>Ticket No.:</label>
            <input type="text" id="rstNo" value="135">
            <label>Date of Supply:</label>
            <!-- <input type="text" id="dateOfSupply" value="10/01/2025"> -->
            <input type="text" id="dateOfSupply" placeholder="DD/MM/YYYY">

            <label>NET QTY (in MT):</label>
            <input type="text" id="netQty" value="19.39">
            <button onclick="multiplyNumbers()">Update Amount</button>
            <label>TOTAL (Rs.):</label>
            <input type="text" id="total" value="">
            <label>TOTAL (Rounded Up):</label>
            <input type="text" id="totalRounded" value="">
            <!-- <label>Total Amount Before Tax:</label>
        <input type="text" id="totalBeforeTax" value="">
        <label>Total Amount After Tax:</label>
        <input type="text" id="totalAfterTax" value=""> -->
            <label>Total Amount in Words:</label>
            <input type="text" id="totalInWords" value="">
            <!-- <button onclick="downloadWord()">Download Word</button> -->
        </div>
        <!-- </form> -->
        <div>
            <h3 id="eBillAlert" class="ebill-alert"></h3>
            <a href="https://ewaybillgst.gov.in/login.aspx" target="_blank" id="eBillSystem"></a>
            <br><br>
            <div class="">
                <button onclick="updateInvoice()">Update Invoice</button>
                <button onclick="downloadPDF()">Download PDF</button>
            </div>
            <br><br>
        </div>
        <div class="container-fluid pdf-container">
            <div class="invoice-scroll-wrapper" style="overflow-x: auto;">
                <div class="invoice-container" id="invoice">
                    <div class="invoice-outline">
                        <div class="header">
                            <h6 class="bill-underline">BILL OF SUPPLY</h6>
                            <hr class="bill-hr">
                            <p class="clear-both">Original For Recipients</p>
                            <h3 class="Company-title">SHAKTHI GREEN SUPPLIES LLP</h3>
                            <hr class="title-hr">
                            <div class="clear-both">
                                <p><strong>Address:</strong> No. 306, 2nd Block, 16-2-752/123/1/7T014, Sumadhura
                                    Elegance,
                                    SBH
                                    Colony, Saidabad (Hyderabad), Hyderabad, <br>Hyderabad, Telangana - 500059.</p>
                                <p><strong>Contact No.:</strong> 8106202799, <strong>Email:</strong>
                                    Pettemnaveen.1hr@gmail.com</p>
                                <p><strong>RIL VENDOR CODE:</strong> 000-3815957</p>
                            </div>
                        </div>
                        <div class="details">
                            <table class="order-details">
                                <tr>
                                    <td><strong>Bill No.:</strong> <span id="billNoDisplay" class="red"></span></td>
                                    <td><strong>Bill Date:</strong> <span id="billDateDisplay" class="red"></span></td>
                                    <td><strong>Purchase Order No.:</strong> 240941989</td>
                                    <td><strong>PO Date:</strong> 21-07-2025</td>
                                </tr>
                            </table>
                            <div class="supply-delivery border-bottom">
                                <div class="row">
                                    <div class="col-md-6 pd-top5 supplier-details">
                                        <h5>Details of Supplier</h5>
                                        <hr class="float-left">
                                        <div class="clear-both">
                                            <p class=""><strong>Company Name:</strong> M/S SHAKTHI GREEN SUPPLIES LLP
                                            </p>
                                            <p class="pad-4px"><strong>Address:</strong> Flat No. 306, 2nd Block,
                                                16-2-752/123/1/7T014, Sumadhura
                                                Elegance, SBH
                                                Colony, Saidabad (Hyderabad), Hyderabad, Hyderabad, Telangana - 500059.
                                            </p>
                                            <p class="">
                                                <span style="margin-right: 30px;"><strong>GSTIN:</strong>
                                                    36AFNFS6281D1ZN</span>
                                                <span><strong>PAN:</strong> AFNFS6281D</span>
                                            </p>
                                            <p class="pad-4px"><strong>State Name & Code:</strong> TELANGANA, 36.</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 border-left pd-top5 delivery-details">
                                        <h5>Details of Delivery</h5>
                                        <hr class="float-left">
                                        <div class="clear-both">
                                            <p><strong>Address:</strong> Reliance Industries Limited Survey No: 820/1A,
                                                1618-1A1,
                                                1618-1C, 1619,1620,1621,1, Peyyapalem Village, Taluka:Kodavalur Mandal,
                                                Peyyalapalem, Sri Potti Sriramulu Nellore, Andhra Pradesh - 524317.</p>
                                        </div>
                                        <div class="transport-details">
                                            <h6>Transport Details</h6>
                                            <hr class="float-left">
                                            <div class="clear-both">
                                                <p><strong>Transportation Mode:</strong> <span
                                                        id="modeOfTransportDisplay" class="red">TRUCK (TIPPER)</span>
                                                </p>
                                                <p><strong>Vehicle No.:</strong> <span id="vehicleNoDisplay"
                                                        class="red">TN
                                                        18 AB
                                                        1350</span></p>
                                                <p><strong>Ticket No.:</strong> <span id="rstNoDisplay"
                                                        class="red">135</span></p>
                                                <p><strong>Date of Supply:</strong> <span id="dateOfSupplyDisplay"
                                                        class="red"></span>
                                                </p>
                                                <p><strong>Place of Supply:</strong> Gandavaram, Andhra Pradesh.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="bill-ship">
                                <div class="row">
                                    <div class="col-md-6 bill-to">
                                        <h5>BILL TO</h5>
                                        <hr class="bill-to-hr">
                                        <p class="pad-4px"><strong>Address:</strong> Reliance Industries Limited Survey
                                            No:
                                            820/1A,
                                            1618-1A1,
                                            1618-1C, 1619,1620,1621,1, Peyyapalem Village, Taluka:Kodavalur Mandal,
                                            Peyyalapalem, Sri Potti Sriramulu Nellore, Andhra Pradesh - 524317.</p>
                                        <p class="pad-4px">
                                            <span style="margin-right: 30px;"><strong>GSTIN:</strong>
                                                37AAACR5055K3Z4</span>
                                            <span><strong>PAN:</strong> AAACR5055K</span>
                                        </p>
                                    </div>
                                    <div class="col-md-6 border-left ship-to">
                                        <h5>SHIP TO</h5>
                                        <hr class="ship-to-hr">
                                        <p class="pad-4px"><strong>Address:</strong> Reliance Industries Limited Survey
                                            No:
                                            820/1A,
                                            1618-1A1,
                                            1618-1C, 1619,1620,1621,1, Peyyapalem Village, Taluka:Kodavalur Mandal,
                                            Peyyalapalem, Sri Potti Sriramulu Nellore, Andhra Pradesh - 524317.</p>
                                        <p class="pad-4px">
                                            <span style="margin-right: 30px;"><strong>GSTIN:</strong>
                                                37AAACR5055K3Z4</span>
                                            <span><strong>PAN:</strong> AAACR5055K</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="billing">
                            <table>
                                <tr class="text-center">
                                    <th>S No.</th>
                                    <th>ITEM DESCRIPTION</th>
                                    <th>HSN CODE</th>
                                    <th>NET QTY </br>(in MT)</th>
                                    <th>Rate </br><span style="text-align: center;">(Basic+Freight+Other Charges)</span>
                                    </th>
                                    <th>CGST</th>
                                    <th>SGST</th>
                                    <th>IGST</th>
                                    <th>TOTAL</br>(Rs.)</th>
                                </tr>
                                <tr class="text-center">
                                    <td>1</td>
                                    <td>ANIMAL DUNG</td>
                                    <td>31010091</td>
                                    <td><span id="netQtyDisplay" class="red"></span></td>
                                    <td>2160</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td class="text-right"><span id="totalDisplay" class="red"></span></td>
                                </tr>
                                <tr class="text-right">
                                    <td colspan="8">Round Off</td>
                                    <td>0</td>
                                </tr>
                                <tr class="text-right">
                                    <td colspan="8">TOTAL (Rounded Up)</td>
                                    <td><span id="totalRoundedDisplay" class="red"></span></td>
                                </tr>
                                <tr>
                                    <td class="text-left" rowspan="5" colspan="4"><strong
                                            style="font-size: 10pt;">Amount in
                                            Words
                                            (Rounded):</strong>
                                        <p id="totalInWordsDisplay" class="red"
                                            style="font-size: 10pt; margin-left: 0px;">
                                        </p>
                                    </td>
                                    <td colspan="4">Total Amount Before Tax</td>
                                    <td id="totalBeforeTaxDisplay" class="text-right red" colspan="1"></td>
                                </tr>
                                <tr>
                                    <td colspan="4">Add: CGST</td>
                                    <td class="text-right" colspan="1">-</td>
                                </tr>
                                <tr>
                                    <td colspan="4">Add: SGST</td>
                                    <td class="text-right" colspan="1">-</td>
                                </tr>
                                <tr>
                                    <td colspan="4">Add: IGST</td>
                                    <td class="text-right" colspan="1">-</td>
                                </tr>
                                <tr>
                                    <td colspan="4">Total Amount After Tax</td>
                                    <td id="totalAfterTaxDisplay" class="text-right red" colspan="1"></td>
                                </tr>
                                <tr>
                                    <td colspan="4"><strong>Reverse Charge (YES / NO):</strong> NO</td>
                                    <td class="text-right" colspan="6"><strong>E & O.E.</strong></td>
                                </tr>
                                <tr>
                                    <td class="bank-details" colspan="4">
                                        <div>
                                            <h6><strong>BANK DETAILS</strong></h6>
                                            <hr>
                                            <div class="clear-both">
                                                <p><strong>Account Holder Name:</strong> M/S SHAKTHI GREEN SUPPLIES LLP
                                                </p>
                                                <p><strong>Current Account Number:</strong> 240911010000057 </p>
                                                <p><strong>IFSC Code:</strong>UBIN0824097</p>
                                                <p><strong>Bank Name:</strong> UNION BANK OF INDIA</p>
                                                <p><strong>Bank Address:</strong> GADDIANNARAM, DILSUKHNAGAR, HYDERABAD
                                                    -
                                                    500060.
                                                </p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="signature" colspan="5">
                                        <div class="digi-sign">
                                            <p style="font-family: 'Times New Roman', Times, serif;"><strong>For Company
                                                    Name</strong></p>
                                            <p
                                                style="font-family: 'Times New Roman', Times, serif; font-style: italic; font-size: 12pt;">
                                                <strong>Digital Signature</strong>
                                            </p>
                                            <p
                                                style="font-family: 'Times New Roman', Times, serif; font-style: italic; font-size: 12pt; margin-top: 100px;">
                                                <strong>Authorised Signatory</strong>
                                            </p>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/invoiceScript.js"></script>
</body>

</html>